@import './game-setup.scss';
@import './_mixin.scss';
@import './_variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $mainFont;
}

.App {
  @include flex-center(column);
  min-height: 100vh;
  background: linear-gradient(to bottom, #c0c0ff, #a0a0ff, #8080ff, #6060ff, #4040ff);

  .body {
    @include flex-center(column);
    max-width: 1920px;
    width: 100%;
    flex: 1;
    background: #ffffff10;
    box-shadow: 0 0 64px #0001;
    padding-inline: 16px;
    padding-block: 32px;

    .game-interface {
      border: 2px solid white;
      border-radius: 16px;
      max-width: 1080px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 48px;
      flex: 1;
      padding-inline: 16px;
      padding-block: 32px;
    
      .title {
        font-size: 56px;
        text-transform: uppercase;
        color: white;
        text-align: center;
      }
    }
  }
}