@import './__variables.scss';
@import './__mixin.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $mainFont;
}

.game-setup {
  @include flex-center(column);
  gap: 48px;
  max-width: 480px;
  align-self: center;

  .setup-options {
    @include flex-center(column);
    gap: 32px;

    .setup-option {
      @include flex-center(column);
      gap: 8px;
      width: 100%;
      border: 2px solid #ffff;
      padding: 16px;
      border-radius: 8px;
    
      .option-label {
        font-size: 32px;
        font-weight: bold;
        color: white;
        text-align: center;
      }

      .select-category {
        position: relative;
        font-size: 24px;
        padding-block: 8px;
        padding-inline: 16px;
        border-radius: 8px;
        border: none;
        max-width: 320px;
        width: 100%;
        overflow-wrap: break-word;
        background: #c0c0ff;
        box-shadow: inset 2px 2px 0 2px #fff2,
                    inset -2px -2px 0 2px #0001;
        font-weight: bold;
        color: #444;
      
        option {
          max-width: 320px;
          width: 100%;
          background: #fff;
        }
      }

      .input-field-setup[type=number],
      .input-field-setup {
        font-size: 24px;
        padding-block: 8px;
        padding-inline: 16px;
        border-radius: 8px;
        border: 2px solid #444;
        -webkit-appearance: none;
        -moz-appearance: textfield;
        max-width: 320px;
        align-self: center;
        width: 100%;
      }

      .input-field-setup::-webkit-outer-spin-button,
      .input-field-setup::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
  
  .btn-start {
    padding: 12px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    background: #8080ff;
    border: none;
    color: white;
    max-width: 320px;
    width: 100%;
    box-shadow: 0 6px #404080,
                inset 2px 2px 0px 2px #fff2,
                inset -2px -2px 0px 2px #0001;
    
    &:hover {
      background: #7070ff;
      box-shadow: 0 4px #404080,
                  inset 2px 2px 0px 2px #fff2,
                  inset -2px -2px 0px 2px #0001;
      margin-top: 2px;
    }
  }
}